        /* Стиль для першого рядка таблиці */
        tr:first-child {
            background-color: #778f8f; 
            color: #000000; /* Контрастний колір тексту */
        }

        /* Стиль для другого рядка таблиці */
        tr:nth-child(2) {
            background-color: #f5f577; 
            color: #000000; /* Контрастний колір тексту */
        }

        /* Загальний стиль для таблиці */
        table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        /* Стиль для всіх комірок у таблиці */
        td {
            border: 1px solid black;
            padding: 5px;
        }
                /* Зміна кольору тексту при наведенні на 1-й і 2-й рядки */
                tr:first-child:hover, tr:nth-child(2):hover {
            background-color: #1E2FF7; /* Змінюємо фон */
            color: #F5E245; /* Змінюємо колір тексту на контрастний */
        }

        .container {
            display: flex;

        }

        .clock1 {
            margin: 10px; /* Невеликий простір між годинниками */
            width: 100px;
            height: 100px;
            background-color: #E6E6E6;
            border: 2px solid #000;
            border-radius: 10%;
            position: relative;
        }


        .dot1 {
            position: absolute;
            border: 1px solid #000;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            top: 45%;
            left: 5%;
        }
        .dot2 {
            position: absolute;
            border: 1px solid #000;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            top: 5%;
            left: 45%;

        }
        .dot3 {
            position: absolute;
            border: 1px solid #000;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            top: 46%;
            left: 85%;

        }
        .dot4 {
            position: absolute;
            border: 1px solid #000;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            top: 85%;
            left: 45%;

        }
        .hour {
            rotate: 90deg;
            position: absolute;
            width: 46%;
            height: 2px;
            background-color: #000;
            top: 32%;
            left: 27%;

        }

        .minute {
            rotate: 180deg;
            position: absolute;
            width: 46%;
            height: 2px;
            background-color: #000;
            top: 50%;
            left: 45%;
        }

        .clock2 {
            margin: 10px; /* Невеликий простір між годинниками */
            width: 100px;
            height: 100px;
            background-color: #E6E6E6;
            border: 2px solid #000;
            border-radius: 10%;
        }



        .d1 {
            border: 1px solid #000;
            transform: translate(30%, 450%);
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }

        .d2 {
            border: 1px solid #000;
            transform: translate(770%, 340%);
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }

        .d3 {
            border: 1px solid #000;
            transform: translate(400%, -140%);
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }

        .d4 {
            border: 1px solid #000;
            transform: translate(400%, 470%);
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }

        .h {
            width: 46%;
            height: 2px;
            background-color: #000;
            transform: rotate(90deg) translateX(-20%) translateY(-1350%);
        }

        .m{
            width: 46%;
            height: 2px;
            background-color: #000;
            transform: rotate(180deg) translateX(-98%) translateY(-350%);
        }
